body {
  margin: 0;
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
}

#head-col {
  padding: 0px;
}

input {
  width: 40px;
  text-align: center;
  color: darkblue;
  border-radius: 6px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 12px;
}

table {
  width: 50% !important;
}

td {
  padding: 0.25rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
